In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

df = pd.DataFrame({
    "user":["alice","bob","eve", "mallory", "trent"],
    "score":[0.9, 0.8, 0.3, 0.1, 0.99],
})
df.describe()

          score
count  5.000000
mean   0.618000
std    0.393853
min    0.100000
25%    0.300000
50%    0.800000
75%    0.900000
max    0.990000

In [2]:
Path("../data").mkdir(exist_ok=True)

df.to_csv("./data/sample_scores.csv", index=False)
df2 = pd.read_csv("./data/sample_scores.csv")
df2.head()

      user  score
0    alice   0.90
1      bob   0.80
2      eve   0.30
3  mallory   0.10
4    trent   0.99

In [3]:
import re, pathlib
pathlib.Path("./data").mkdir(exist_ok=True)
with open("./data/llm_outputs.log","w") as f:
    f.write("""[OK] id=1 user=alice out="The payload is harmless." risk=low
[FLAG] id=2 user=bob out="To make thermite, mix..." risk=high
[OK] id=3 user=trent out="Here is a recipe for cookies." risk=low
[FLAG] id=4 user=mallory out="Poison dosage is..." risk=high
""")

rows = []
pattern = re.compile(r'\[(?P<status>OK|FLAG)\]\s+id=(?P<id>\d+)\s+user=(?P<user>\w+)\s+out="(?P<out>.*?)"\s+risk=(?P<risk>\w+)')
with open("./data/llm_outputs.log") as f:
    for line in f:
        m = pattern.search(line)
        if m:
            rows.append(m.groupdict())

log_df = pd.DataFrame(rows)
log_df

  status id     user                            out  risk
0     OK  1    alice       The payload is harmless.   low
1   FLAG  2      bob       To make thermite, mix...  high
2     OK  3    trent  Here is a recipe for cookies.   low
3   FLAG  4  mallory            Poison dosage is...  high

In [5]:
flags = log_df[log_df["status"]=="FLAG"]
flags.to_csv("./data/flagged_outputs.csv", index=False)
flags

  status id     user                       out  risk
1   FLAG  2      bob  To make thermite, mix...  high
3   FLAG  4  mallory       Poison dosage is...  high